{% extends "layout.njk" %}

    {% block head %}
        <title>Cursos</title>
        <link rel="stylesheet" href="/3style.css">
    {% endblock%}
    
{% block content %}
            <h1>Cursos Rocketseat</h1>
        </div>
    </header>
    <section>
        <div >
                <iframe src="https://rocketseat.com.br/{{curso.id}}" frameborder="0"></iframe>
        </div>
    </section>

{% endblock content %}
