<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Sobre</title>
        <link rel="stylesheet" href="/2style.css">
    {% endblock%}

</head>
<body>
    <header>
        <div>

        {% block content %}

        {% endblock content %}

        </body>
</html>